@model IEnumerable<DoctorsHouseWeb.Models.Doctor>

@{
    ViewBag.Title = "Doctors";
}

<h2>Doctors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.doctor_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctor_gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctor_mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bmdc_regno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctor_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctor_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dept_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.doctor_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctor_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctor_gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctor_mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bmdc_regno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctor_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctor_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dept_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
